* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F0F0F0;
}

header {
    padding: 1rem;
    background-color: #E6E6FA;
    color: #333333;
    display: flex;
    justify-content: center;

}

.todolist {
    background-color: #E6E6FA;
    margin: 0 auto;
}

ul li {
    padding: 0 2rem;
    margin: 0 2rem;
    border-bottom: 1px solid white;
    color: #333333;
}

ul li:last-child{
    border: none;
}
