* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 1rem;
    background-color: rgb(255, 190, 69);
    color: white;
    display: flex;
    justify-content: center;
}